* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #f9f6f2;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 45px;
    background-color: #1d1a1c;
    border-radius: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    position: absolute;
    left: 10%;
    color: #f9f6f2;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 12px;
  }
  .cdlogo {
    height: 54px;
    position: absolute;
    top: -4px;
  }
 #hello{
    position:absolute;
    height: 200px;
    left: 34%;
    top: 35%;
 }
  